/* universal slector*/
*{
	font-family: 'Noto Serif', serif;
padding: 0;
margin:0;
background-color:#ebebe0;
}
nav{
	position: static;
	margin-left: 10px;
	height: 80px;
	width: 100%;
}
@media (max-width: 800px){
	*{
background-color: blue;
	}
}
nav .logo{
	float: left;
	font-size: 18px;
	margin-top:1%;
}
nav .logo strong{
	font-size: 28px;
	color: black;
	font-style: italic;
}
nav .navbar{
text-align: right;
}
nav .navbar li{
	display: inline-block;
	margin: 2% 3%;
}
nav .navbar li a{
	text-decoration: none;
	color: black;
	font-style: italic;
}
nav .navbar li a:hover{
	text-decoration: underline;
	color: orangered;
}
header{
	padding: 50px 10px;
}
header h1{
	text-align: center;
	word-spacing: 5px;
}
span{
	color: orangered;
}
header p{
	text-align: center;
	padding: 10px 0;
	font-style: italic;
}
header img{
	margin-left: 50px;
	height: 300px;
	width: 1200px;
	border-radius: 12px;
}
.aboutme{
	width: 50%;
	float: left;
}
.aboutme h2{
	font-style: italic;
	color: cyan;
	text-align: center;
}
.aboutme p{
	margin: 15px 50px;
	text-align: justify-left;
	font-style:italic;
}
.mywork h2{
	font-style: italic;
	color: crimson;
	text-align: center;
}
.mywork p{
	margin: 15px 50px;
	text-align: justify-left;
	font-style: italic;
}
.images{
	margin-top: 25px;
	text-align: center;

}

.images div{

	display: inline-block;
	padding: 40px;
}
.thanks{
	font-family: tehama;
	font-style: italic;
	text-align: center;
	color: crimson;
}
.images > div > p{
	font-size: 12px;
}
footer{
	margin-top: 75px;
	padding: 50px;
	height: 200px;

}
footer .contact h2{
	text-align: left;
}
form{
	float: left;
}
form > input,
form > textarea{
     background: transparent;
     text-align: center;
	display: block;
	width: 155%;
	padding: 10px;
	margin: 10px auto;
	border: 1px solid black;
	color: black;
}
form button{
	cursor: pointer;
	margin: 35px 50px;
	border: 1px solid black;
	padding: 10px;
	width: 35%;
	background: transparent;
	float: right;
}
footer .social{
	float: right;
	padding: 55px;
}
footer .social i{
	padding: 25px;
	color: blue;
}